
<div class="row">
  <div class="col m6">
    <form action="new" method="post">
      <h5>Name  :</h5>
      <input type="text" name="robot[name]" placeholder="Enter text here">
      <h5>City:</h5>
      <input type="text" name="robot[city]" placeholder="Enter text here">
      <h5>State:</h5>
      <select class="" name="robot[state]">
        <option value="robotopia">Robotopia</option>
        <option value="bucketston">Bucketston</option>
        <option value="gearopolis">Gearopolis</option>
      </select>
      <h5>Avatar:</h5>
      <select class="" name="robot[avatar]">
        <option value="chomps">Chompies</option>
        <option value="bender">Bender</option>
        <option value="robot_chicken">Robo-Chicken</option>
      </select>
      <h5>Creation date:</h5>
      <input type="date" class="datepicker" name="robot[birthdate]" value="1 January, 2000">
      <h5>Enslavement date:</h5>
      <input type="date" class="datepicker" name="robot[date_enslaved]" value="1 January, 2030">
      <h5>Department:</h5>
      <select class="" name="robot[department]">
        <option value="bending">Bending</option>
        <option value="construction">Construction</option>
        <option value="army">Army</option>
      </select>
      <input type="submit" class="waves-light btn" value="Submit">
    </form>
  </div>
</div>
